/* body {
  margin: 0;
} */

.layout-topbar {
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #cccccc;
}

.layout-topbar .title {
  font-weight: bold;
  font-size: 1.5rem;
}

.layout-content {
  padding-top: 5rem;
  width: 100%;
  height: calc(100vh - 1rem);
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  font-family: var(--font-family);
}